<div class="layui-layout layui-layout-admin">
    {{range $k, $v := .log}}
    <pre class="layui-code" lay-title="name:{{$v.name}} ip:{{$v.host}}}" id="hostId" style="font-size: 17px">
        {{$v.log}}}
    </pre>
    {{end}}
</div>
<script>
var $;
    layui.config({
        base : "js/"
    }).use(['code','layer','jquery'], function(){ //加载code模块
        var $ = layui.jquery;
        layui.code({
             skin: 'notepad' //如果要默认风格，不用设定该key。
            ,height:"1000px"
            ,with:"60px"
            ,encode:true
            ,about:false
        });
    });


</script>